<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<head>
	<meta charset="UTF-8"/>
	<title>사계공부</title>
	
	<!-- 공통 header Import -->
	<div th:replace="base/inc_common_head :: inc_head"></div>
</head>

<body>
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container px-5">
            <a class="navbar-brand" href="index.html"><span class="fw-bolder text-primary">사계 공부</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                    <li class="nav-item"><a class="nav-link" href="/solved">문제풀기</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Challenge">게임모드</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">로그인</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Register">회원가입</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>