<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>연산연습</title>
</head>
<body>
<div class="container md max-w-4xl mx-auto px-4">
    <div class="m-5 options text-center noprint">
        <form>
            <input type="text" name="cols" value="5" style="padding:3px;width:2.5em;text-align:center">열&nbsp;&nbsp;
            <input type="text" name="rows" value="30" style="padding:3px;width:2.5em;text-align:center">행
            <label for="type1"><input type="checkbox" name="mType[]" value="1" id="type1" checked="">x+y</label>
            <label for="type2"><input type="checkbox" name="mType[]" value="2" id="type2" checked="">xx+yy</label>
            <label for="type3"><input type="checkbox" name="mType[]" value="3" id="type3" checked="">xx-y</label>
            <label for="type4"><input type="checkbox" name="mType[]" value="4" id="type4" checked="">xx-yy</label>
            <!--<label for="type5"><input type="checkbox" name="mType[]" value="5" id="type5" checked="">x*y</label>
            <label for="type6"><input type="checkbox" name="mType[]" value="6" id="type5">xx*yy</label>
            <label for="type6"><input type="checkbox" name="mType[]" value="7" id="type5">(x+y)z</label>
            <label for="type6"><input type="checkbox" name="mType[]" value="8" id="type5">(x*y)+z</label> -->
            <button type="submit" class="btn">다시 생성</button>
            <button type="button" class="btn" onclick="window.print()">인쇄하기</button>
        </form>
    </div>
</div>
</body>
</html>