<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<head>
	<meta charset="utf-8"/>
	<title>사계공부</title>
	
	<!-- 공통 header Import -->
	<div th:replace="base/inc_common_head :: inc_head"></div>
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0"></main>
<div th:insert="base/page_navigator :: p_nav"></div>

<section class="vh-100" style="background-color: #efefef;">
	<div class="container h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="container px-5 pb-5">
				<div class="row gx-5 align-items-center">
					<div class="col-xxl-5">
						<!-- Header text content-->
						<div class="text-center text-xxl-start">
							<div class="badge bg-gradient-primary-to-secondary text-white mb-4">
								<div class="text-uppercase">더하기 &middot; 빼기 &middot; 곱하기 &middot; 나누기</div>
							</div>
							<div class="fs-3 fw-light text-muted">재미있게 공부하는 사계공부</div>
							<h1 class="display-3 fw-bolder mb-5">
								<span class="text-gradient d-inline">안녕하세요<br/>공부를<br/>시작할까요?</span>
							</h1>
							<div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
								<a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/login.do">로그인</a>
								<a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="/register.do">회원 가입</a>
							</div>
						</div>
					</div>
					<div class="col-xxl-7">
						<!-- Header profile picture-->
						<div class="d-flex justify-content-center mt-5 mt-xxl-0">
							<img class="profile-img" src="/static/images/BCWlogo.png" alt="..."/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--Footer-->
<div th:insert="base/page_footer :: p_footer"></div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
</body>
</html>