<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Example</title>
    <link rel="stylesheet" type="text/css" href="./css/header.css"> <!-- 외부 CSS 파일 연결 -->
</head>
<body>

<header class="header">
    <div>
        <h1 class="logo">로고 또는 제목</h1>
    </div>
    <div>
        <button class="menu-button">메뉴 1</button>
        <button class="menu-button">메뉴 2</button>
    </div>
</header>

</body>
</html>
