<div th:fragment="p_footer">
	<div class="bg-white py-4 mt-auto">
		<div class="container px-5">
			<div class="row align-items-center justify-content-between flex-column flex-sm-row">
				<div class="col-auto">
					<div class="small m-0">BCW 사계공부</div>
				</div>
				<div class="col-auto">
					<a class="small" href="#!">김민재</a>
					<span class="mx-1">&middot;</span>
					<a class="small" href="#!">김형우</a>
					<span class="mx-1">&middot;</span>
					<a class="small" href="#!">레쯔꼬</a>
				</div>
			</div>
		</div>
	</div>
</div>